<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Notes</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="/css/cards.css">
<link rel="stylesheet" href="/css/signup.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<style>
  .card-alert button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 20px;
  top: 11px;
  color: white;
}
.card-alert a {
  color: inherit;
  font-weight: 500;
}
.card-style{
  background:#26a69a;
  font-size:1.2rem;
  color:white;
  letter-spacing:1.3px;
  width:25vw;
  padding:2vh;
}
.card-alert a:hover {
  color: inherit;
  text-decoration: underline;
}
	.nav-links{
    font-size: 1.05rem;
}
.logo{
    position: relative;
    left: -15vw;
    font-size:1.5rem;
}
	.navbar {
        left:0vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-around;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.6);
    overflow: hidden;
    z-index: 99;
    }
#navtoggle{
    right: 30px;
    top: 20px;
    font-size: 2.4rem;
}
@media screen and (min-width: 768px){
	.logo {
    display: inline-block;
    position: relative;
    left: 0%;
    font-size: 1.8rem;
	}
	.demo-wrapper{
		padding-bottom: 20vh;
	}
}
  .logout1{
    color:white !important;
}
@media (min-width: 767px){
.logout1{
    color:black;
    position:relative;
    left:6vw;
    font-weight:700;
}
</style>
</head>
<body style="background:#f7edd5;">
  <nav class="navbar">
    <a href="/users/home" class="logo">Resource Hub</a>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/users/home" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/users/home#about" class="nav-links">About</a>
      </li>
      <li>
        <a href="/profile" class="nav-links"></i>Profile</a>
      </li>
      <li>
        <a href="/users/branch" class="nav-links">Notes</a>
      </li>
      <li>
        <a href="/users/home#contact" class="nav-links">Contact Us</a>
      </li>
      <li>
        <a href="/users/logout" class="nav-links logout1"></i>LOGOUT</a>
      </li>
    </ul>
    <div id="navtoggle"> <i class="fas fa-bars"></i> </div> 
  </nav>

  <div id="smallnavbar">
    <ul class="smallmain-nav" id="smalljs-menu">
        <li>
          <a href="/users/home" class="nav-links smallnav">Home</a>
        </li>
        <li>
          <a href="/users/home#about" class="nav-links smallnav">About</a>
        </li>
        <li>
            <a href="/profile" class="nav-links smallnav"></i>Profile</a>
          </li>
        <li>
          <a href="/users/branch" class="nav-links smallnav">Notes</a>
        </li>
        <li>
          <a href="/users/home#contact" class="nav-links smallnav">Contact Us</a>
        </li>
        <li>
            <a href="/users/logout" class="nav-links smallnav">Logout</a>
          </li>
      </ul>
</div>
<!-- partial:index.partial.html -->
<div class="col l6"></div>
<div class="col l6" style="float:right;">
  <%- include('./partials/notes') %>
</div>
<div class="stickycontent">
<div class="demo-wrapper">
  
    <!-- <h1>Horizontal Portfolio Layout With CSS3 Animations and jQuery</h1> -->
    <%= console.log("notes in ejs of notes",notes) %>
    <%= console.log("notes length in notes.ejs",notes.length) %>


    <ul class="portfolio-items">

        
        <% var count = 1 %>
        <% notes.forEach((note) => { %>
            <li class="item">
                <figure>
                    <div class="view">
                        <img src="https://s.cdpn.io/9674/1.jpg" />
                    </div>
                    <figcaption>
                        <p><span><a href="/users/branch/semester/notes/download?branch=<%= note.branch %>&semester=<%= note.semester %>&noteId=<%= note._id%>">Click here to view / download</a></span></p>
                        <p><span>Subject - <%= note.subject %></span></p>
                        <p><span>Professor - <%= note.profName %></span></p>
                        <p><span>By <%= note.userName %></span></p>
                    </figcaption>
                </figure>

                <div class="date">4.3</div>
                <form action="/users/branch/semester/notes/star_rating/<%= note._id%>" method="POST">
                    <div class="stars">
                        <input class="stars__checkbox" type="radio" id="first-star" name="star<%=count%>" value="1" onclick="this.form.submit()">
                        <label class="stars__star" for="first-star">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                        <input class="stars__checkbox" type="radio" id="second-star"name="star<%=count%>" value="2" onclick="this.form.submit()">
                        <label class="stars__star" for="second-star">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                        <input class="stars__checkbox" type="radio" id="third-star" name= "star<%=count%>" value="3" onclick="this.form.submit()">
                        <label class="stars__star" for="third-star">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                        <input class="stars__checkbox" type="radio" id="fourth-star" name="star<%=count%>"value="4" onclick="this.form.submit()">
                        <label class="stars__star" for="fourth-star">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                        <input class="stars__checkbox" type="radio" id="fifth-star" name="star<%=count%>" value="5" onclick="this.form.submit()">
                        <label class="stars__star" for="fifth-star">
                            <svg class="stars__star-icon" version="1.1" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                viewBox="0 0 53.867 53.867" style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                            </svg>
                        </label>
                    </div>
                </form>
            </li>
            <%= console.log(count) %>
            <% count = count+1 %>
        <% }); %>
    </ul>
</div>

        <div class="col s12 m6 l4">
            <div id="flight-card" class="card">
              <div class="card-header">
                <div class="card-title signIn">
                  <h4 class="flight-card-title">Request Notes</h4>
                </div>
              </div>
              <div class="fold">
                <form action="/users/branch/semester/notes/request" method="post">
                  <div id="selectBranch">
                    <p>Select Branch:</p>
                    <select style="display: block;" required="true" name ="branch">
                      <option value="CSE">Computer Science</option>
                      <option value="ECE">Electronics & Communication</option>
                      <option value="EE">Electrical</option>
                      <option value="ME">Mechanical</option>
                      <option value="CE">Civil</option>
                      <option value="EIE">Electronics & Instrumentation</option>
                    </select>
                  </div>

                  <div id="selectSem">
                    <p>Select Semester:</p>
                    <select style="display: block;" required="true" name="semester">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                    </select>
                  </div>
                  <input type="text" name="subject" placeholder="Subject" required>
                  <input type="text" name="profName" placeholder="Professor Name" required>
                  <p style="text-align: center; display: block;"><input type="submit" value="Request Note"></p>
                </form>
              </div>
            </div>
            <div class="col l2"><h1></h1></div>
        </div>

<footer class="footer_part">
    <div class="grid-footer">
        <!-- <div class="row"> -->
            <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="single_footer_part">
                    <h4>Developers</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Ankit Srivastava</a></li>
                        <li><a href="">Ujjawal Jain</a></li>
                        <li><a href="">Anuva Bhattacharjee</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="single_footer_part">
                    <h4>Popular Notes</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Topper ke Notes</a></li>
                        <li><a href="">Topper ke Notes</a></li>
                        <li><a href="">Topper ke Notes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="single_footer_part">
                    <h4>Recent Uploads</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Newbie 1</a></li>
                        <li><a href="">Newbie 2</a></li>
                        <li><a href="">Newbie 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="single_footer_part">
                    <h4>Most Downloaded</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Topper ke Notes</a></li>
                        <li><a href="">Topper ke Notes</a></li>
                        <li><a href="">Topper ke Notes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
                <div class="single_footer_part">
                    <h4>Popular Profiles</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Topper Nibba 1</a></li>
                        <li><a href="">Topper Nibba 2</a></li>
                        <li><a href="">Topper Nibba 3</a></li>
                    </ul>
                </div>
            </div>
        <!-- </div> -->
        <hr>
    </div>
</footer>
</div>
<!--::footer_part end::-->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/js/mousewheel.js"></script>
<script  src="/js/cards.js"></script>
<script type="text/javascript" src="/js/branch-cards2.js"></script>

<script>

    function myFunction(){
     var x = document.getElementById("profilediv");
     if(x.style.display == "none"){
        x.style.display = "block";
     } else {
        x.style.display = "none";
     }
    }
</script>
</body>
</html>
