<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Semester</title>
        <link rel="stylesheet" href="/css/bookcard.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<style>
.developers-details{
    font-size:1rem;
    position:relative;
    top:1vh;
    color:black !important;
}
      .logout1{
    color:white !important;
}
@media (max-width:768px){
	.grid-item:first-child{
		margin-top:16vh;
	}
}
@media (min-width: 767px){
.logout1{
    color:black;
    position:relative;
    left:10vw;
    font-weight:700;
}
    .active { color: red; }
</style>
    </head>
    <body style="overflow-x: hidden;background:#f7edd5;">
        <%= console.log("notes in ejs",notes) %>
        <%= console.log("branch details",branchname) %>

                <nav class="navbar">
            <!-- <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
                    <img src="img/bars.png" alt="" style="position: absolute;top: 20px;">
                </label> -->
            <a href="/users/home" class="logo">Resource Hub</a>
            <!-- <input type="checkbox" id="chkToggle"></input> -->
            <ul class="main-nav" id="js-menu">
              <li>
                <a href="/users/home" class="nav-links">Home</a>
              </li>
              <li>
                <a href="/users/home#about" class="nav-links">About</a>
              </li>
              <li>
                <a href="/profile" class="nav-links">Profile</a>
              </li>
              <li>
                <a href="/users/branch" class="nav-links active">Notes</a>
              </li>
              <li>
                <a href="/users/home#contact" class="nav-links">Contact Us</a>
              </li>
              <li>
                <a href="/users/logout" class="nav-links logout1">Logout</a>
              </li>
            </ul>
            <div id="navtoggle"> <i class="fas fa-bars"></i> </div> 
          </nav>

          <div id="smallnavbar">
            <ul class="smallmain-nav" id="smalljs-menu">
                <li>
                  <a href="/users/home" class="nav-links smallnav">Home</a>
                </li>
                <li>
                  <a href="/users/home#about" class="nav-links smallnav">About</a>
                </li>
                <li>
                    <a href="/profile" class="nav-links smallnav">Profile</a>
                  </li>
                <li>
                  <a href="/users/branch" class="nav-links smallnav active">Notes</a>
                </li>
                <li>
                  <a href="/users/home#contact" class="nav-links smallnav">Contact Us</a>
                </li>
                <li>
                    <a href="/users/logout" class="nav-links smallnav">Logout</a>
                  </li>
              </ul>
        </div>
        <% var count = 1 %>
        <div class="grid-container">
            <% notes.forEach((note) => { %>
            
                <div class="container1 grid-item">
                    
                    <div class="content">No. of notes : <%= note==0 ? 0 : note.length %></div>
                    <div class="content">No. of downloads : <%=downloadCount[count-1]%></div>
                    <div class="content">Overall Rating : <%= ratingsPerSemFloored[count-1] %></div>
                    <div class="notes content"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=<%=count %>&Notescount=<%= note==0 ? 0 : note.length %>">VIEW NOTES</a></div>
                    <div class="cover">
                        <figure class="front">
                            <div class="heading1">SEMESTER</div>
                            <div class="heading1 sem"><%= count%></div>
                        </figure>
                        <figure class="back"></figure>
                    </div>
                </div>
                <% count = count+1 %>
            <% }); %>
        </div>
        

         <!--::footer_part start::-->
   <footer class="footer_part">
        <div class="grid-footer">
            <!-- <div class="row"> -->
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Developers</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Ankit Srivastava</a></li>
                            <li><a href="">Ujjawal Jain</a></li>
                            <li><a href="">Anuva Bhattacharjee</a></li>
                            <li><a href="" class="developers-details">Know More About Developers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Popular Notes</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Recent Uploads</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Newbie 1</a></li>
                            <li><a href="">Newbie 2</a></li>
                            <li><a href="">Newbie 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Most Downloaded</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Popular Profiles</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper Nibba 1</a></li>
                            <li><a href="">Topper Nibba 2</a></li>
                            <li><a href="">Topper Nibba 3</a></li>
                        </ul>
                    </div>
                </div>
            <!-- </div> -->
            <hr>
        </div>
    </footer>
    <!--::footer_part end::-->
        <script type="text/javascript" src="/js/branch-cards2.js"></script>
    </body>
</html>