<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title></title>
        <link rel="stylesheet" href="/css/bookcard.css">
         <!-- <link rel="stylesheet" href="css/branch-cards2.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css">    -->
    </head>
    <body style="overflow-x: hidden;">
        <%= console.log("notes in ejs",notes) %>
        <%= console.log("branch details",branchname) %>

                <nav class="navbar">
            <!-- <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
                    <img src="img/bars.png" alt="" style="position: absolute;top: 20px;">
                </label> -->
            <a href="/users/home" class="logo">Resource Hub</a>
            <!-- <input type="checkbox" id="chkToggle"></input> -->
            <ul class="main-nav" id="js-menu">
              <li>
                <a href="/users/home" class="nav-links">Home</a>
              </li>
              <li>
                <a href="/users/home#about" class="nav-links">About</a>
              </li>
              <li>
                <a href="/profile" class="nav-links"><i class="fas fa-user"></i>Profile</a>
              </li>
              <li>
                <a href="/users/branch" class="nav-links">Notes</a>
              </li>
              <li>
                <a href="/users/home#contact" class="nav-links">Contact Us</a>
              </li>
              <li>
                <a href="/users/logout" class="nav-links"><i class="fas fa-sign-out-alt"></i>Logout</a>
              </li>
            </ul>
            <!-- <a href="/users/logout" style="color: white; font-weight: bold; text-decoration: none;"><i class="fas fa-sign-out-alt"></i>LOGOUT</a> -->
            <!-- <div class="profileicon"><i onclick="myFunction()" class="fas fa-user-circle profileiconfontaw"></i><br>
                <span class="tooltiptext">
                    <a href="/profile" style="color: white; text-decoration: none;">See Profile</a>
                </span>
            </div>
            <div id="profilediv">
                <p class="profile"><i class="fas fa-user"></i><a href="/profile"  style="color:#FF4800; text-decoration: none;">Your Profile</a></p>
                <hr style="color: darkgrey; width: 90%; margin: auto;">
                <p class="logout"><i class="fas fa-sign-out-alt"></i><a href="/users/logout" style="color:#FF4800; text-decoration: none;">Logout</a></p>
            </div>-->
            <div id="navtoggle"> <i class="fas fa-bars"></i> </div> 
          </nav>

          <div id="smallnavbar">
            <ul class="smallmain-nav" id="smalljs-menu">
                <li>
                  <a href="/users/home" class="nav-links smallnav">Home</a>
                </li>
                <li>
                  <a href="/users/home#about" class="nav-links smallnav">About</a>
                </li>
                <li>
                    <a href="/profile" class="nav-links smallnav"><i class="fas fa-user"></i>Profile</a>
                  </li>
                <li>
                  <a href="/users/branch" class="nav-links smallnav">Notes</a>
                </li>
                <li>
                  <a href="/users/home#contact" class="nav-links smallnav">Contact Us</a>
                </li>
                <li>
                    <a href="/users/logout" class="nav-links smallnav"><i class="fas fa-sign-out-alt"></i>Logout</a>
                  </li>
              </ul>
        </div>
        <div class="grid-container">
            <div class="container1 grid-item">
                <div class="content">No. of subjects : 6</div>
                <div class="content">No. of notes : <%= notes[0]==0 ? 0 : notes[0].length %></div>
                <div class="content">No. of downloads : 20</div>
                <div class="notes content"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=1&count=<%= notes[0]==0 ? 0 : notes[0].length %>">VIEW NOTES</a></div>
                <div class="cover">
                    <figure class="front">
                        <div class="heading1">SEMESTER</div>
                        <div class="heading1 sem">1</div>
                    </figure>
                    <figure class="back"></figure>
                </div>
            </div>

            <div class="container1 grid-item">
                <div class="content">No. of subjects : 6</div>
                <div class="content">No. of notes : <%= notes[1]==0 ? 0 : notes[1].length %></div>
                <div class="content">No. of downloads : 20</div>
                <div class="notes content"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=2&count=<%= notes[1]==0 ? 0 : notes[1].length %>">VIEW NOTES</a></div>
                <div class="cover">
                    <figure class="front">
                        <div class="heading1">SEMESTER</div>
                        <div class="heading1 sem">2</div>
                    </figure>
                    <figure class="back"></figure>
                </div>
            </div>

            <div class="container1 grid-item">
                <div class="content">No. of subjects : 6</div>
                <div class="content">No. of notes : <%= notes[2]==0 ? 0 : notes[2].length %></div>
                <div class="content">No. of downloads : 20</div>
                <div class="notes content"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=3&count=<%= notes[2]==0 ? 0 : notes[2].length %>">VIEW NOTES</a></div>
                <div class="cover">
                    <figure class="front">
                        <div class="heading1">SEMESTER</div>
                        <div class="heading1 sem">3</div>
                    </figure>
                    <figure class="back"></figure>
                </div>
            </div>

            <div class="container1 grid-item">
                <div class="content">No. of subjects : 6</div>
                <div class="content">No. of notes : <%= notes[3]==0 ? 0 : notes[3].length %></div>
                <div class="content">No. of downloads : 20</div>
                <div class="notes content"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=4&count=<%= notes[3]==0 ? 0 : notes[3].length %>">VIEW NOTES</a></div>
                <div class="cover">
                    <figure class="front">
                        <div class="heading1">SEMESTER</div>
                        <div class="heading1 sem">4</div>
                    </figure>
                    <figure class="back"></figure>
                </div>
            </div>

            <div class="container1 grid-item">
                <div class="content">No. of subjects : 6</div>
                <div class="content">No. of notes : <%= notes[4]==0 ? 0 : notes[4].length %></div>
                <div class="content">No. of downloads : 20</div>
                <div class="notes content"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=5&count=<%= notes[4]==0 ? 0 : notes[4].length %>">VIEW NOTES</a></div>
                <div class="cover">
                    <figure class="front">
                        <div class="heading1">SEMESTER</div>
                        <div class="heading1 sem">5</div>
                    </figure>
                    <figure class="back"></figure>
                </div>
            </div>
            
            <div class="container1 grid-item">
                <div class="content">No. of subjects : 6</div>
                <div class="content">No. of notes : <%= notes[5]==0 ? 0 : notes[5].length %></div>
                <div class="content">No. of downloads : 20</div>
                <div class="notes content"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=6&count=<%= notes[5]==0 ? 0 : notes[5].length %>">VIEW NOTES</a></div>
                <div class="cover">
                    <figure class="front">
                        <div class="heading1">SEMESTER</div>
                        <div class="heading1 sem">6</div>
                    </figure>
                    <figure class="back"></figure>
                </div>
            </div>

            <div class="container1 grid-item">
                <div class="content">No. of subjects : 6</div>
                <div class="content">No. of notes : <%= notes[6]==0 ? 0 : notes[6].length %></div>
                <div class="content">No. of downloads : 20</div>
                <div class="notes content"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=7&count=<%= notes[6]==0 ? 0 : notes[6].length %>">VIEW NOTES</a></div>
                <div class="cover">
                    <figure class="front">
                        <div class="heading1">SEMESTER</div>
                        <div class="heading1 sem">7</div>
                    </figure>
                    <figure class="back"></figure>
                </div>
            </div>

            <div class="container1 grid-item">
                <div class="content">No. of subjects : 6</div>
                <div class="content">No. of notes : <%= notes[7]==0 ? 0 : notes[7].length %></div>/
                <div class="content">No. of downloads : 20</div>
                <div class="notes content"><a href="/users/branch/semester/notes?branch=<%= branchname %>&semester=8&count=<%= notes[7]==0 ? 0 : notes[7].length %>">VIEW NOTES</a></div>
                <div class="cover">
                    <figure class="front">
                        <div class="heading1">SEMESTER</div>
                        <div class="heading1 sem">8</div>
                    </figure>
                    <figure class="back"></figure>
                </div>
            </div>
        </div>

         <!--::footer_part start::-->
   <footer class="footer_part">
        <div class="grid-footer">
            <!-- <div class="row"> -->
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Developers</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Ankit Srivastava</a></li>
                            <li><a href="">Ujjawal Jain</a></li>
                            <li><a href="">Anuva Bhattacharjee</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Popular Notes</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Recent Uploads</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Newbie 1</a></li>
                            <li><a href="">Newbie 2</a></li>
                            <li><a href="">Newbie 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Most Downloaded</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Popular Profiles</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper Nibba 1</a></li>
                            <li><a href="">Topper Nibba 2</a></li>
                            <li><a href="">Topper Nibba 3</a></li>
                        </ul>
                    </div>
                </div>
            <!-- </div> -->
            <hr>
        </div>
    </footer>
    <!--::footer_part end::-->
        <script type="text/javascript" src="/js/branch-cards2.js"></script>

        <script>
        
            function myFunction(){
             var x = document.getElementById("profilediv");
             if(x.style.display == "none"){
                x.style.display = "block";
             } else {
                x.style.display = "none";
             }
            }
            
window.onscroll = function() {myfunction()};

// Get the navbar
var navbar = document.getElementsByClassName("navbar");

// Get the offset position of the navbar
var sticky = navbar[0].offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myfunction() {
  if (window.pageYOffset >= sticky) {
    navbar[0].classList.add("sticky");
  } else {
    navbar[0].classList.remove("sticky");
  }
}
            
            
        </script>
    </body>
</html>