<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Signup/Login</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<style>
	/*.social-container {
	    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}*/
/* *************Sign Up form**************** */
.social-container1 {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  /* width: 100%; */
  text-align: center;
}
.sociallinkbtn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #562fc7;
  overflow: hidden;
  position: relative;
}
.sociallinkbtn i {
  line-height: 60px;
  font-size: 26px;
  transition: 0.2s linear;
}
.sociallinkbtn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.sociallinkbtn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #562fc7;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.sociallinkbtn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}


</style>
</head>
<body>
<nav class="navbar">
    <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
            <img src="/img/bars.png" alt="" style="position: absolute;top: 20px;">
        </label>
    <a href="/index.html" class="logo">Resource Hub</a>
    <input type="checkbox" id="chkToggle"></input>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/index.html" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/index.html#about" class="nav-links">About</a>
      </li>
      <li>
        <a href="/users/branch" class="nav-links">Notes</a>
      </li>
      <li>
        <a href="/index.html#contact" class="nav-links">Contact Us</a>
      </li>
    </ul>
  </nav>
<!-- partial:index.partial.html -->
<div class="container">
   <section id="formHolder">

      <div class="row">

        

         <!-- Brand Box -->
         <div class="col-sm-6 brand cover">
         	<video src="/img/particle.mp4" muted="" autoplay="" loop></video>
          <h3 class="tag"><span>R</span>esource <span>H</span>ub <span>N</span>ITS</h3>
         </div>

         
         <!-- Form Box -->
         <div class="col-sm-6 form">

            <!-- Login Form -->

            <div class="login form-peice switched">
               <form class="login-form" action="/users/login" method="post" style="top:43%;">
                   <h3 class="heading" style="font-size: 4.2vh;">Sign In</h3>
                   <p class="heading" style="font-size: 2.3vh;color:#562FC7">using</p>
               	 <div class="social-container1">
                	<a class="sociallinkbtn" href="/users/facebook"><i class="fab fa-facebook-f"></i></a>
                	<a class="sociallinkbtn" href="/users/google"><i class="fab fa-google-plus-g"></i></a>
                	<a class="sociallinkbtn" href="/users/linkedin"><i class="fab fa-linkedin"></i></a>
                </div>
                <h2 style=" width: 100%; 
                text-align: center; 
                border-bottom: 1px solid #000; 
                line-height: 0.1em;
                margin: 4.2vh 0 20px;"><span style="background:#fff; 
                padding:0 10px;">or use your Email</span></h2>
                  <div class="form-group">
                     <label for="loginemail">Email Adderss</label>
                     <input type="email" name="email" id="loginemail">
                  </div>

                  <div class="form-group">
                     <label for="loginPassword">Password</label>
                     <input type="password" name="password" id="loginPassword">
                  </div>

                  <div class="CTA">
                     <input type="submit" value="Sign In">
                     <a href="#" class="switch"><b>Sign Up</b></a>
                  </div>
               </form>
            </div><!-- End Login Form -->


            <!-- Signup Form -->
            <div class="signup form-peice">
                <div class="error-scroll" id="error">
                    <%- include('./partials/messages') %>
                </div>
                
               <form class="signup-form" action="/users/signup" method="post" style="position:absolute;margin-top: 12px;">
                   <h3 class="heading" style="font-size: 3.6vh;">Create Account</h3>
                   <p class="heading" style="font-size: 1.7vh;color:#562FC7">using</p>
               	<div class="social-container1">
                	<a class="sociallinkbtn" href="/users/facebook"><i class="fab fa-facebook-f"></i></a>
                	<a class="sociallinkbtn" href="/users/google"><i class="fab fa-google-plus-g"></i></a>
                	<a class="sociallinkbtn" href="/users/linkedin"><i class="fab fa-linkedin"></i></a>
                </div>
                <h2 style=" width: 100%;text-align: center;border-bottom: 1px solid #000; line-height: 0.1em;margin: 2.6vh 0 10px;"><span style="background:#fff;padding:0 10px;">or use your Email</span></h2>  
                                
                <div class="form-group">
                     <label for="name">Name</label>
                     <input type="text" name="name" id="name" class="name" value="<%= typeof name != 'undefined' ? name : '' %>" required="true">
                     <span class="error"></span>
                </div>

                  <div class="form-group">
                     <label for="email">Email Adderss</label>
                     <input type="email" name="email" id="email" class="email" value="<%= typeof email != 'undefined' ? email : '' %>" required="true">
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" name="password" id="password" class="pass" value="<%= typeof password != 'undefined' ? password : '' %>" required="true">
                     <span class="error"></span>
                  </div>

                  <div class="form-group">
                     <label for="passwordCon">Confirm Password</label>
                     <input type="password" name="password2" id="passwordCon" class="passConfirm" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required="true">
                     <span class="error"></span>
                  </div>
                  
                  <div class="CTA">
                    <input type="submit" id="sub" value="Sign Up">
                     <a href="#" class="switch"><b>Login</b></a>
                  </div>
               </form>
            </div><!-- End Signup Form -->
         </div>
      </div>

   </section>


</div>
<!-- partial -->
  
<script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script>
    </script>
<script  src="/js/signup.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>
